<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="ManualStatementConnection"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=W:\ETH\CQ Macro\analyst\AHMC Manual Statement\database\ManualStatementDB.accdb;Persist Security Info=False;"
           providerName="System.Data.OleDb" />
      <add name="AnhDemoConnection"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=W:\ETH\CQ Macro\analyst\AHMC Manual Statement\database\demo.db\amh_cpsi_odbc_dw.mdb;Persist Security Info=False;"
           providerName="System.Data.OleDb" />
      <add name="GarDemoConnection"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=W:\ETH\CQ Macro\analyst\AHMC Manual Statement\database\demo.db\gar_cpsi_odbc_dw.mdb;Persist Security Info=False;"
           providerName="System.Data.OleDb" />
      <add name="GemDemoConnection"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=W:\ETH\CQ Macro\analyst\AHMC Manual Statement\database\demo.db\gem_cpsi_odbc_dw.mdb;Persist Security Info=False;"
           providerName="System.Data.OleDb" />
      <add name="MphDemoConnection"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=W:\ETH\CQ Macro\analyst\AHMC Manual Statement\database\demo.db\mph_cpsi_odbc_dw.mdb;Persist Security Info=False;"
           providerName="System.Data.OleDb" />
      <add name="SgvDemoConnection"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=W:\ETH\CQ Macro\analyst\AHMC Manual Statement\database\demo.db\sgv_cpsi_odbc_dw.mdb;Persist Security Info=False;"
           providerName="System.Data.OleDb" />
      <add name="WhtDemoConnection"
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=W:\ETH\CQ Macro\analyst\AHMC Manual Statement\database\demo.db\wht_cpsi_odbc_dw.mdb;Persist Security Info=False;"
           providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>